*{
	margin:0px;
	padding-left: 0px;

}
a{
	text-decoration: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.wraper{
	width: 100%;
	margin: 0px auto;
	padding: 0px;
}
.menu{
	background-color: #3a3a9d;
	height: 25px;
	width: auto;
}
.menu ul{
	float: left;
	margin: 0px;
	padding: 2px;height: 25px;
	margin-left: 120px;
}
.menu ul li{
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 2px;
	color: white;
}
.menu ul li a{
	color: white;
}
.menu ul li a:hover{
	background: #699999;
	color:#211111;
}
.menu .ngonngu{
	float: right;
	padding: 2px;
	margin-right: 100px;
}
.menu .ngonngu ul li{
	padding-left: 15px;
	padding-right: 15px;
}
.header{
	width: auto;
	height: 75px;
	margin: 0px;
	padding: 0px;
}
.header .logo img{
	width: 350px;
	height: 60px;
	float: left;
	margin-left: 120px;
}
.header .header-menu{
	height: 60px;
	width: auto; padding: 0px;
	margin-left: 0px;
}
.header .header-menu ul{
	margin-left: 0px;
	padding: 0px;
	margin-left: 60px;
	float: left;
	padding-top: 18px;
}
.header .header-menu ul li{
	padding: 4px;
	margin-left: 0px;
	display: inline-block;
	list-style: none;
	text-decoration: none;
}
.header .header-menu ul li a{
	font-size: 14px;
	color: black;
}
.header-menu ul li a:hover{
	border: 2px solid red;
	text-shadow: 2px;
	font-style: italic;
	font-weight: bold;
}
.banner{
	padding: 0px;
	margin-left: 0px;
	width: auto;
	height: auto;
}
.banner img{
	margin-left: 0px;
	padding-left: 120px;
}
.main{
	width:auto;margin-top: 20px;

}
.main .tt{
	margin: auto;
	padding-left: 500px;
	
}
.main .tintuc{
	padding:0px;
	margin-top:20px;
	height: 290px;
	float: left;
	
}
.main .tintuc ul{
	margin: 0px;
	padding: 0px;
	margin-left: 120px;
	height: 260px;width: 800px;
}
.main .tintuc ul li{
	display: inline-block;
	list-style: none;
	text-decoration: none;
	width: 240px;
	height: 240px;
	padding: 10px;
	background-color:#c4c1be;
}
.main .tintuc ul li img{
	width: 240px;
	height: 160px;
	padding: 0px;
	
	margin: 0px;
}
.main .tintuc ul li a{
	color: black;
	text-align: center;
}
.tintieudiem {
	float: right;
	height: 290px;
	width: 270px;
	margin-right: 120px;
}
.tintieudiem p{
	font-size: 16px;
	color: blue;
	margin: 0px;
	padding: 5px;
	font-weight: bold;
}
.tintieudiem .haui-tv
{
	width: 270px;
	height: 160px;
	margin: 0px;
	padding: 0px;
	/*border-top: 1px solid red;*/
}
.tintieudiem .haui-tv img{
	/*margin-top: 25px;
	padding-top: 25px;*/
	width: 270px;
	height: 160px;
	padding: 0px;
	margin:0px;
}
.footer{
	padding: 0px;
	margin:0px;
	height: 300px;
	float: left;
	width: 100%;
	background-color: #559beb;
}
.footer .logo-footer{
	padding: 10px;
	margin: 0px;
	width: 33%;
	padding-left: 120px;
	float: left;
}
.footer .truso{
	width: 50%; 
	margin: 0px;
	padding: 10px;
	float: left;
	font-size: 18px;
	padding-top: 70px;
}
.footer .truso ul{
	padding: 0px;
	margin: 0px;
	float: left;
}
.footer .truso ul li{
	padding: 5px;
	margin: 0px;
}
.end{
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 3px solid red;
}
